# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules / Build output
node_modules
dist
dist-ssr
*.local

# Environment files
.env
resources/**/soundcloud-token.json

# Editors / IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# My personal / temporary files
.*
!.gitignore
!.gitattributes
!.editorconfig
!.npmignore
!.github
!.node-version
!.npmrc

# TypeScript / JS build artifacts
*.tsbuildinfo
**/*.js
**/*.js.map
**/*.d.ts
!wasm.d.ts

# Test files / temporary code
